.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-template-rows: auto;
  gap: 2.5rem;
}

@media (max-width: 470px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
